
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    color: rgb(223, 221, 221);
}

h1 {
    color: sienna;
}

h2 {
    color: rgb(50, 51, 49);
}

header {
    background-color: rgb(71, 70, 70);
    padding: 15px;
}

body {
    background-color: rgb(107, 106, 106);
    display: flex;
    flex-direction: column;
   
  
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

footer {
    padding-top: 50px;
    text-align: center;
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

form {

    margin-top: 15px;
    
}

    details
    { display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
       
    
    }

    ol, a {
        text-align: center;
        text-decoration: none;
        text-decoration-line: none;
        color: rgb(139, 48, 6);
    }

    a {
        margin: 20px;
    }

    a:hover {
        color: rgb(255, 117, 117);
        opacity: 0.8;
        scale: 10%;
        
    }

    summary {
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
        color: rgb(53, 51, 50);
    }

    input[type="radio"], input[type="checkbox"] {
        accent-color: brown;
        margin-right: 5px;
       
    }

    input[type="text"], input[type="password"] {
        width: 50%;
        padding: 5px;
        border-radius: 8px;
        border: 1px solid rgb(150, 148, 148);
        background-color: rgb(250, 248, 238);
        color: rgb(32, 31, 31);
        font-size: bold;
        font-family: poppins, sans-serif;
    }

   select, option{
        background-color: rgb(250, 248, 238);
        color: rgb(46, 44, 44);
        font-size: bold;
        border-radius: 8px;
        padding: 3.4px;
        cursor: pointer;
    }